[submodule "vendor/PDFMathTranslate-next"]
	path = pdf2zh/kernel/PDFMathTranslate-next.git
	url = https://github.com/PDFMathTranslate/PDFMathTranslate-next.git
[submodule "vendor/MinerU"]
	path = vendor/MinerU
	url = https://github.com/opendatalab/MinerU.git
[submodule "vendor/marker"]
	path = vendor/marker
	url = https://github.com/datalab-to/marker
